.mainbody{
    margin-top: 113px;
    margin-left:0;
    position:absolute;
    }
    .body{
        margin-left:0px;
    }
    
    .studentsimage{
    left:0;
    width:1920px;
    margin-left:0px
    
    }

.mainbody .maintext1{
    position: absolute;
    top: 19%;
    left: 7%;
    font-family: "Neutrif Studio Regular";
    font-size: 29px;
    font-weight: 300;
    color:white;
    width:1200px
    
  }

.mainbody .maintext2{
    position: absolute;
    top: 29%;
    left: 42%;
    font-family: "Neutrif Studio Regular";
    font-size: 29px;
    font-weight: 300;
    color:white;
    width:800px

  }
.mainbody .maintext3{
        position: absolute;
        top: 39%;
        left: 42%;
        font-family: "Neutrif Studio Regular";
        font-size: 29px;
        font-weight: 300;
        color:white;
        width:800px;

  }
  .scholarshiptitle{
    position: absolute;
    top: 10%;
    left: 7%;
    font-family: "Neutrif Studio Regular";
    font-size: 55px;
    font-weight: 300;
    color:white;
    width:1200px


  }

  .mainbody{
    background-color:lightgray;
    z-index:10;
  }